<div class="t-home{{#if highlightGrid}} highlight-grid{{/if}}">
  <div class="t-home__header">
    <h2>{{ gridItemHeader.name }}</h2>
    {{ gridItemHeader.text }}
  </div>
  <div class="t-home__slideshow">
    <h2>{{ gridItemSlideshow.name }}</h2>
    {{ gridItemSlideshow.text }}
  </div>
  <div class="t-home__subheading">
    <h2>{{ gridItemSubheading.name }}</h2>
    {{ gridItemSubheading.text }}
  </div>
  <div class="t-home__services">
    <h2>{{ gridItemServices.name }}</h2>
    {{ gridItemServices.text }}
  </div>
  <div class="t-home__news">
    <h2>{{ gridItemNews.name }}</h2>
    {{ gridItemNews.text }}
  </div>
  <div class="t-home__quicklinks1">
    <h2>{{ gridItemQuicklinks1.name }}</h2>
    {{ gridItemQuicklinks1.text }}
  </div>
  <div class="t-home__quicklinks2">
    <h2>{{ gridItemQuicklinks2.name }}</h2>
    {{ gridItemQuicklinks2.text }}
  </div>
  <div class="t-home__meet">
    <h2>{{ gridItemMeet.name }}</h2>
    {{ gridItemMeet.text }}
  </div>
  <div class="t-home__social">
    <h2>{{ gridItemSocial.name }}</h2>
    {{ gridItemSocial.text }}
  </div>
  <div class="t-home__footer">
    <h2>{{ gridItemFooter.name }}</h2>
    {{ gridItemFooter.text }}
  </div>
</div>
