<div class="t-layout--3{{#if highlightGrid}} highlight-grid{{/if}}">
  <header class="c-header">
    <h2>{{ gridItemHeader.name }}</h2>
    {{ gridItemHeader.text }}
  </header>
  <nav class="c-breadcrumb">
    <strong>{{ gridItemBreadcrumb.name }}</strong> {{ gridItemBreadcrumb.text }}
  </nav>
  <aside class="t-layout__sidebar1">
    <h2>{{ gridItemSidebar1.name }}</h2>
    {{ gridItemSidebar1.text }}
  </aside>
  <main>
    <h2>{{ gridItemMain.name }}</h2>
    {{ gridItemMain.text }}
  </main>
  <aside class="t-layout__sidebar2">
    <section>
      <h2>{{ gridItemSidebar2a.name }}</h2>
      {{ gridItemSidebar2a.text }}
    </section>
    <section>
      <h2>{{ gridItemSidebar2b.name }}</h2>
      {{ gridItemSidebar2b.text }}
    </section>
    <section>
      <h2>{{ gridItemSidebar2c.name }}</h2>
      {{ gridItemSidebar2c.text }}
    </section>
    <section>
      <h2>{{ gridItemSidebar2d.name }}</h2>
      {{ gridItemSidebar2d.text }}
    </section>
  </aside>
  <aside class="c-updated">
    <strong>{{ gridItemUpdated.name }}</strong> {{ gridItemUpdated.text }}
  </aside>
  <footer class="c-footer">
    <h2>{{ gridItemFooter.name }}</h2>
    {{ gridItemFooter.text }}
  </footer>
</div>
