<div class="t-layout--3{{#if highlightGrid}} highlight-grid{{/if}}">
  <div class="t-layout__header">
    <h2>{{ gridItemHeader.name }}</h2>
    {{ gridItemHeader.text }}
  </div>
  <div class="t-layout__breadcrumb">
    <strong>{{ gridItemBreadcrumb.name }}</strong> {{ gridItemBreadcrumb.text }}
  </div>
  <div class="t-layout__sidebar1">
    <h2>{{ gridItemSidebar1.name }}</h2>
    {{ gridItemSidebar1.text }}
  </div>
  <div class="t-layout__main">
    <h2>{{ gridItemMain.name }}</h2>
    {{ gridItemMain.text }}
  </div>
  <div class="t-layout__sidebar2">
    <section>
      <h2>{{ gridItemSidebar2a.name }}</h2>
      {{ gridItemSidebar2a.text }}
    </section>
    <section>
      <h2>{{ gridItemSidebar2b.name }}</h2>
      {{ gridItemSidebar2b.text }}
    </section>
    <section>
      <h2>{{ gridItemSidebar2c.name }}</h2>
      {{ gridItemSidebar2c.text }}
    </section>
    <section>
      <h2>{{ gridItemSidebar2d.name }}</h2>
      {{ gridItemSidebar2d.text }}
    </section>
  </div>
  <div class="t-layout__updated">
    <strong>{{ gridItemUpdated.name }}</strong> {{ gridItemUpdated.text }}
  </div>
  <div class="t-layout__footer">
    <h2>{{ gridItemFooter.name }}</h2>
    {{ gridItemFooter.text }}
  </div>
</div>
