<div class="t-layout--4{{#if highlightGrid}} highlight-grid{{/if}}">
  <div class="t-layout__header">
    <h2>{{ gridItemHeader.name }}</h2>
    {{ gridItemHeader.text }}
  </div>
  <div class="t-layout__breadcrumb">
    <strong>{{ gridItemBreadcrumb.name }}</strong> {{ gridItemBreadcrumb.text }}
  </div>
  <main class="t-layout__main">
    <h2>{{ gridItemMain.name }}</h2>
    {{ gridItemMain.text }}
  </main>
  <div class="t-layout__sidebar1">
    <h2>{{ gridItemSidebar1.name }}</h2>
    {{ gridItemSidebar1.text }}
  </div>
  <div class="t-layout__sidebar2">
    <h2>{{ gridItemSidebar2.name }}</h2>
    {{ gridItemSidebar2.text }}
  </div>
  <div class="t-layout__footer">
    <h2>{{ gridItemFooter.name }}</h2>
    {{ gridItemFooter.text }}
  </div>
</div>
