<div class="t-layout--4">
  {{ render '@skipnav' }}
  {{ render '@header' }}
  {{ render '@breadcrumb' }}
  <main id="maincontent">
    {{> @heading }}
    {{ render '@blogresult' }}
  </main>
  <aside class="t-layout__sidebar1">
    <section class="o-sidebarbox">
      <header><h2>Categories</h2></header>
      {{ render '@categories' }}
    </section>
  </aside>
  <aside class="t-layout__sidebar2">
    <section class="o-sidebarbox">
      <header><h2>Publication Date</h2></header>
      {{ render '@select' }}
    </section>
    <section class="o-sidebarbox">
      <header><h2>Author</h2></header>
      {{ render '@select' }}
    </section>
    <section class="o-sidebarbox">
      <header><h2>Subscribe</h2></header>
      {{ render '@list' }}
    </section>
  </aside>
  {{ render '@footer' }}
</div>
