<div class="t-layout--4">
  {{ render '@skipnav' }}
  {{ render '@header' }}
  {{ render '@breadcrumb' }}
  <main id="maincontent">
    {{> @heading blogpost }}
    {{ render '@blogmetadata' }}
    {{{ blogpost.content }}}
  </main>
  <aside aria-label="first" class="t-layout__sidebar1">
    <section class="o-sidebarbox">
      <header><h2>Categories</h2></header>
      {{ render '@categories' }}
    </section>
  </aside>
  <aside aria-label="second" class="t-layout__sidebar2">
    {{ render '@sidebarpost' }}
    {{ render '@sidebarpost--2' }}
    <section class="o-sidebarbox">
      <header><h2>Subscribe</h2></header>
      {{ render '@list' }}
    </section>
  </aside>
  {{ render '@footer' }}
</div>
