<div class="t-home">
  {{ render '@skipnav' }}
  {{ render '@header' }}
  {{ render '@slideshow' }}
  {{ render '@serviceheading' }}
  {{ render '@servicebox' }}
  {{ render '@newsreel' }}
  {{ render '@quicklink--1' }}
  {{ render '@quicklink--2' }}
  {{ render '@meet' }}
  {{ render '@social' }}
  {{ render '@footer' }}
</div>
