<div class="t-home">
  {{ render '@skipnav' }}
  <div class="t-home__header">
    {{ render '@header' }}
  </div>
  <div class="t-home__slideshow">
    {{ render '@slideshow' }}
  </div>
  <div id="maincontent" class="t-home__subheading">
    {{ render '@serviceheading' }}
  </div>
  <div class="t-home__services">
    {{ render '@servicebox' }}
  </div>
  <div class="t-home__news">
    {{ render '@newsreel' }}
  </div>
  <div class="t-home__quicklinks1">
    {{ render '@quicklink--1' }}
  </div>
  <div class="t-home__quicklinks2">
    {{ render '@quicklink--2' }}
  </div>
  <div class="t-home__meet">
    {{ render '@meet' }}
  </div>
  <div class="t-home__social">
    {{ render '@social' }}
  </div>
  <div class="t-home__footer">
    {{ render '@footer' }}
  </div>
</div>
