<div class="t-layout--3">
  {{ render '@skipnav' }}
  {{ render '@header' }}
  {{ render '@breadcrumb' }}
  <aside aria-label="first" class="t-layout__sidebar1">
    {{ render '@secondarynav' }}
  </aside>
  <main id="maincontent">
    {{ render '@mainheading' }}
    {{ render '@mainbox' }}
    {{ render '@halfboxes' }}
    {{ render '@staff' }}
  </main>
  <aside aria-label="second" class="t-layout__sidebar2">
    {{ render '@news' }}
  </aside>
  {{ render '@updated' }}
  {{ render '@footer' }}
</div>
