<div class="t-layout--3">
  {{ render '@skipnav' }}
  <div class="t-layout__header">
    {{ render '@header' }}
  </div>
  <div class="t-layout__breadcrumb">
    {{ render '@breadcrumb' }}
  </div>
  <div class="t-layout__sidebar1">
    {{ render '@secondarynav' }}
  </div>
  <div id="maincontent" class="t-layout__main">
    {{> @heading--1 }}
    {{#each paragraph}}
      <p>{{ program.text }}</p>
    {{/each}}
    {{ render '@mainbox--1' }}
    {{ render '@mainbox--2' }}
    {{ render '@mainbox--2' }}
    {{#each paragraph}}
      <p>{{ program.text }}</p>
    {{/each}}
    {{ render '@halfboxes' }}
    {{ render '@staff' }}
  </div>
  <div class="t-layout__sidebar2">
    {{ render '@news' }}
    {{ render '@sidebarbox--2' }}
    {{ render '@sidebarbox--2' }}
    {{ render '@sidebarbox--1' }}
  </div>
  <div class="t-layout__updated">
    {{ render '@updated' }}
  </div>
  <div class="t-layout__footer">
    {{ render '@footer' }}
  </div>
</div>
