<div class="t-layout--3">
  {{ render '@skipnav' }}
  {{ render '@header' }}
  {{ render '@breadcrumb' }}
  <aside aria-label="first" class="t-layout__sidebar1">
    {{ render '@secondarynav' }}
  </aside>
  <main id="maincontent">
    {{> @heading--1 }}
    {{#each paragraph}}
      <p>{{ program.text }}</p>
    {{/each}}
    {{ render '@mainbox--1' }}
    {{ render '@mainbox--2' }}
    {{ render '@mainbox--2' }}
    {{#each paragraph}}
      <p>{{ program.text }}</p>
    {{/each}}
    {{ render '@halfboxes' }}
    {{ render '@staff' }}
  </main>
  <aside aria-label="second" class="t-layout__sidebar2">
    {{ render '@news' }}
    {{ render '@sidebarbox--2' }}
    {{ render '@sidebarbox--2' }}
    {{ render '@sidebarbox--1' }}
  </aside>
  {{ render '@updated' }}
  {{ render '@footer' }}
</div>
