<div class="t-layout--2">
  {{ render '@skipnav' }}
  <div class="t-layout__header">
    {{ render '@header' }}
  </div>
  <div class="t-layout__breadcrumb">
    {{ render '@breadcrumb' }}
  </div>
  <aside class="t-layout__sidebar1">
    {{ render '@refine' }}
  </aside>
  <div id="maincontent" class="t-layout__main">
    {{ render '@filter' }}
    {{ render '@records' }}
    {{ render '@searchresult' }}
    {{ render '@pagination' }}
  </div>
  <div class="t-layout__footer">
    {{ render '@footer' }}
  </div>
</div>
