<div class="t-layout--4{{#if highlightGrid}} highlight-grid{{/if}}">
  <header class="c-header">
    <h2>{{ gridItemHeader.name }}</h2>
    {{ gridItemHeader.text }}
  </header>
  <nav class="c-breadcrumb">
    <strong>{{ gridItemBreadcrumb.name }}</strong> {{ gridItemBreadcrumb.text }}
  </nav>
  <main>
    <h2>{{ gridItemMain.name }}</h2>
    {{ gridItemMain.text }}
  </main>
  <aside class="t-layout__sidebar1">
    <h2>{{ gridItemSidebar1.name }}</h2>
    {{ gridItemSidebar1.text }}
  </aside>
  <aside class="t-layout__sidebar2">
    <h2>{{ gridItemSidebar2.name }}</h2>
    {{ gridItemSidebar2.text }}
  </aside>
  <footer class="c-footer">
    <h2>{{ gridItemFooter.name }}</h2>
    {{ gridItemFooter.text }}
  </footer>
</div>
