<div class="t-layout--2{{#if highlightGrid}} highlight-grid{{/if}}">
  <header class="c-header">
    <h2>{{ gridItemHeader.name }}</h2>
    {{ gridItemHeader.text }}
  </header>
  <nav class="c-breadcrumb">
    <strong>{{ gridItemBreadcrumb.name }}</strong> {{ gridItemBreadcrumb.text }}
  </nav>
  <aside class="t-layout__sidebar1">
    <h2>{{ gridItemSidebar.name }}</h2>
    {{ gridItemSidebar.text }}
  </aside>
  <main>
    <h2>{{ gridItemMain.name }}</h2>
    {{ gridItemMain.text }}
  </main>
  <aside class="c-updated">
    <strong>{{ gridItemUpdated.name }}</strong> {{ gridItemUpdated.text }}
  </aside>
  <footer class="c-footer">
    <h2>{{ gridItemFooter.name }}</h2>
    {{ gridItemFooter.text }}
  </footer>
</div>
