<div class="c-filter">
  <div class="c-filter__group">
    <div class="c-filter__label" id="c-filter-show-label">Show:</div>
    <ul aria-labelledby="c-filter-show-label">
      {{#each buttonList1}}
      <li><a href="#" v-on:click="showButtonToggle{{ button.number }}" v-bind:aria-current="[showButton{{ button.number }}isPressed]">{{ button.text }}</a></li>
      {{/each}}
    </ul>
  </div>
  <div class="c-filter__group">
    <div class="c-filter__label" id="c-filter-sort-label">Sort by:</div>
    <ul aria-labelledby="c-filter-sort-label">
      {{#each buttonList2}}
      <li><a href="#" v-on:click="sortButtonToggle{{ button.number }}" v-bind:aria-current="[sortButton{{ button.number }}isPressed]">{{ button.text }}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
