<nav class="c-pagination">
  <ul>
    <li><a href="" aria-label="previous page">Previous</a></li>
    <li><a href="" aria-label="page {{ minimumNumber }}">{{ minimumNumber }}</a></li>
    <li><a href="" title="previous set of pages">&hellip;</a></li>
    {{#each list}}
    <li><a href="" {{#if pagination.current}}aria-current="page"{{else}}aria-label="page {{ pagination.number }}"{{/if}}>{{ pagination.number }}</a></li>
    {{/each}}
    <li><a href="" title="next set of pages">&hellip;</a></li>
    <li><a href="" aria-label="page {{ maximumNumber }}">{{ maximumNumber }}</a></li>
    <li><a href="" aria-label="next page">Next</a></li>
  </ul>
</nav>
