{{#each list}}
<section class="c-result">
  {{> @heading--4 }}
  <span class="c-result__doctype o-docicon__{{ result.doctype }}" aria-label="{{ result.doctype }} document">{{ result.doctype }}</span>
  <div class="c-result__group">{{ result.group }}</div>
  <div class="c-result__quote">{{ result.quote }}</div>
  <time>{{ result.date }}</time>
</section>
{{/each}}
