<div class="c-slideshow">
  <div class="c-slideshow__controls">
    <button class="c-slideshow__play" title="play slideshow"><span>play slideshow</span></button>
    <button class="c-slideshow__pause" title="pause slideshow"><span>pause slideshow</span></button>
    <button id="c-slideshow__goto1" class="c-slideshow__goto" aria-label="go to slide 1 of 4">1</button>
    <button id="c-slideshow__goto2" class="c-slideshow__goto" aria-label="go to slide 2 of 4">2</button>
    <button id="c-slideshow__goto3" class="c-slideshow__goto" aria-label="go to slide 3 of 4">3</button>
    <button id="c-slideshow__goto4" class="c-slideshow__goto" aria-label="go to slide 4 of 4">4</button>
  </div>
  {{#each slides}}
  <figure class="c-slideshow__slide">
    <figcaption>
      <h2>{{ slide.heading }}</h2>
      <p>{{ slide.text }}</p>
      <a href="{{ slide.link }}">Read more</a>
      <small>{{ slide.credits }} [Slide {{ slide.number }}]</small>
    </figcaption>
    <div class="c-slideshow__slide-image">
      <img srcset="{{ slide.imageSmall }} 740w, {{ slide.imageLarge }} 1095w" sizes="(min-width: 760px) 77vw, 100vw" src="{{ slide.imageLarge }}" alt="{{ slide.alt }}">
    </div>
  </figure>
  {{/each}}
</div>
