<p>{{ textcolor.textbefore }} <em class="textcolor__scp-titles-added">{{ textcolor.colored }}</em> {{ textcolor.textafter }}</p>
<p>{{ textcolor.textbefore }} <em class="textcolor__scp-titles-removed">{{ textcolor.colored }}</em> {{ textcolor.textafter }}</p>
<p>{{ textcolor.textbefore }} <em class="textcolor__scp-package-added">{{ textcolor.colored }}</em> {{ textcolor.textafter }}</p>
<p>{{ textcolor.textbefore }} <em class="textcolor__scp-package-removed">{{ textcolor.colored }}</em> {{ textcolor.textafter }}</p>
<p>{{ textcolor.textbefore }} <em class="textcolor__scp-package-change">{{ textcolor.colored }}</em> {{ textcolor.textafter }}</p>
