<div class="t-home">
  {{ render '@skipnav' }}
  {{ render '@header' }}
  {{ render '@homeheading' }}
  {{ render '@slideshow' }}
  {{ render '@serviceheading' }}
  {{ render '@servicebox' }}
  {{ render '@newsreel' }}
  <aside class="c-quicklinks">
    {{ render '@quicklink--1' }}
    {{ render '@quicklink--2' }}
  </aside>
  {{ render '@meet' }}
  {{ render '@social' }}
  {{ render '@footer' }}
</div>
