<div class="t-layout--2">
  {{ render '@skipnav' }}
  {{ render '@header' }}
  {{ render '@breadcrumb' }}
  <aside class="t-layout__sidebar1">
    {{ render '@refine' }}
  </aside>
  <main id="maincontent">
    {{ render '@records' }}
    {{ render '@searchresult' }}
    {{ render '@pagination' }}
  </main>
  {{ render '@footer' }}
</div>
