<div class="t-layout--3">
  {{> skipnav }}
  {{> header }}
  {{> breadcrumb }}
  <aside aria-label="first" class="t-layout__sidebar1">
    {{> secondarynav }}
  </aside>
  <main id="maincontent">
    {{> heading staffprofile }}
    {{> contact_1 staffprofile }}
    {{> avatar }}
    <h2>Program / Service</h2>
    <p>{{{ staffprofile.program }}}</p>
    <h2>Job Title</h2>
    <p>{{{ staffprofile.title }}}</p>
    {{#if staffprofile.pronouns }}
      <h2>Pronouns</h2>
      <p>{{{ staffprofile.pronouns }}}</p>
    {{/if}}
    {{#if staffprofile.responsibilities }}
      <h2>Responsibilities</h2>
    {{/if}}
    <p>{{{ staffprofile.responsibilities }}}</p>
    {{#if staffprofile.education }}
      <h2>Education</h2>
    {{/if}}
    <p>{{{ staffprofile.education }}}</p>
    {{#if staffprofile.background }}
      <h2>Background</h2>
    {{/if}}
    <p>{{{ staffprofile.background }}}</p>
    {{#if staffprofile.interests }}
      <h2>Professional Interests</h2>
    {{/if}}
    <p>{{{ staffprofile.interests }}}</p>
    {{#if staffprofile.affiliations }}
      <h2>Committees / Affiliations</h2>
    {{/if}}
    <p>{{{ staffprofile.affiliations }}}</p>
    {{#if staffprofile.publications }}
      <h2>Publications</h2>
    {{/if}}
    <p>{{{ staffprofile.publications }}}</p>
    {{#if papers }}
      <h2>Papers and Presentations</h2>
    {{/if}}
    <p>{{{ staffprofile.papers }}}</p>
    {{#if orcid.url }}
      <h2><abbr title="Orchid">ORCID</abbr> ID</h2>
      {{> orcid }}
    {{/if}}
    {{#if staffprofile.linkedin.url }}
      <h2>LinkedIn Profile</h2>
      <a href="{{ linkedin.url }}">{{ staffprofile.linkedin.url }}</a>
    {{/if}}
  </main>
  <aside aria-label="second" class="t-layout__sidebar2">
    {{> news }}
  </aside>
  {{> updated }}
  {{> footer }}
</div>
