<div class="c-layout3col{{#if highlightGrid}} highlight-grid{{/if}}">
  <header>
    <h2>{{ gridItem1.name }}</h2>
    {{ gridItem1.text }}
  </header>
  <nav>
    <strong>{{ gridItem2.name }}</strong> {{ gridItem2.text }}
  </nav>
  <aside>
    <h2>{{ gridItem3.name }}</h2>
    {{ gridItem3.text }}
  </aside>
  <main>
    <h2>{{ gridItem4.name }}</h2>
    {{ gridItem4.text }}
  </main>
  <aside>
    <section>
      <h2>{{ gridItem5.name }}</h2>
      {{ gridItem5.text }}
    </section>
    <section>
      <h2>{{ gridItem6.name }}</h2>
      {{ gridItem6.text }}
    </section>
  </aside>
  <footer>
    <h2>{{ gridItem7.name }}</h2>
    {{ gridItem7.text }}
  </footer>
</div>
