<div class="c-layout--3{{#if highlightGrid}} highlight-grid{{/if}}">
  <div class="c-layout__header">
    <h2>{{ gridItemHeader.name }}</h2>
    {{ gridItemHeader.text }}
  </div>
  <div class="c-layout__breadcrumb">
    <strong>{{ gridItemBreadcrumb.name }}</strong> {{ gridItemBreadcrumb.text }}
  </div>
  <div class="c-layout__sidebar1">
    <h2>{{ gridItemSidebar.name }}</h2>
    {{ gridItemSidebar.text }}
  </div>
  <div class="c-layout__main">
    <h2>{{ gridItemMain.name }}</h2>
    {{ gridItemMain.text }}
  </div>
  <div class="c-layout__sidebar2">
    <section>
      <h2>{{ gridItemX.name }}</h2>
      {{ gridItemX.text }}
    </section>
    <section>
      <h2>{{ gridItemY.name }}</h2>
      {{ gridItemY.text }}
    </section>
  </div>
  <div class="c-layout__updated">
    <strong>{{ gridItemUpdated.name }}</strong> {{ gridItemUpdated.text }}
  </div>
  <div class="c-layout__footer">
    <h2>{{ gridItemFooter.name }}</h2>
    {{ gridItemFooter.text }}
  </div>
</div>
