<div class="c-layout1col{{#if highlightGrid}} highlight-grid{{/if}}">
  <header>
    <h2>{{ gridItem1.name }}</h2>
    {{ gridItem1.text }}
  </header>
  <nav>
    <strong>{{ gridItem2.name }}</strong> {{ gridItem2.text }}
  </nav>
  <main>
    <h2>{{ gridItem3.name }}</h2>
    {{ gridItem3.text }}
  </main>
  <footer>
    <h2>{{ gridItem4.name }}</h2>
    {{ gridItem4.text }}
  </footer>
</div>
