<nav class="c-localnav">
  <div class="c-localnav__header">
    {{> @heading--4 }}
    <button class="o-button5" v-on:click="toggle1" v-if="!isDisplayed">{{ localnav.closeButtonText }}</button>
    <button class="o-button6" v-on:click="toggle1" v-if="isDisplayed">{{ localnav.openButtonText }}</button>
  </div>
  <ul v-if="!isDisplayed">
    <li><a href="">{{ localnav.linktext1 }}</a></li>
    <li><a href="">{{ localnav.linktext2 }}</a></li>
    <li><a href="">{{ localnav.linktext3 }}</a>
      <ul>
        <li><a href="">{{ localnav.linktext4 }}</a></li>
        <li><a href="">{{ localnav.linktext5 }}</a></li>
        <li><a href="">{{ localnav.linktext6 }}</a></li>
        <li><a href="">{{ localnav.linktext7 }}</a></li>
        <li><a href="">{{ localnav.linktext8 }}</a></li>
      </ul>
    </li>
    <li><a href="">{{ localnav.linktext9 }}</a></li>
    <li><a href="">{{ localnav.linktext10 }}</a></li>
  </ul>
</nav>
