<nav class="c-pagination">
  <ul>
    <li><a href="https://cdlib.org" aria-label="previous page">Previous</a></li>
    <li><a href="https://cdlib.org" aria-label="page {{ minimumNumber }}">{{ minimumNumber }}</a></li>
    <li><a href="https://cdlib.org" title="previous set of pages">&hellip;</a></li>
    {{#each list}}
    <li><a href="https://cdlib.org" {{#if pagination.current}}aria-current="page"{{else}}aria-label="page {{ pagination.number }}"{{/if}}>{{ pagination.number }}</a></li>
    {{/each}}
    <li><a href="https://cdlib.org" title="next set of pages">&hellip;</a></li>
    <li><a href="https://cdlib.org" aria-label="page {{ maximumNumber }}">{{ maximumNumber }}</a></li>
    <li><a href="https://cdlib.org" aria-label="next page">Next</a></li>
  </ul>
</nav>
