<div class="c-layout3col">
  {{ render '@header' }}
  {{ render '@breadcrumb' }}
  <aside>
    {{ render '@secondarynav' }}
  </aside>
  <main>
    {{> @heading--1 }}
    {{#each paragraph}}
      <p>{{ program.text }}</p>
    {{/each}}
    {{ render '@mainbox--1' }}
    {{ render '@mainbox--2' }}
    {{ render '@mainbox--2' }}
    {{#each paragraph}}
      <p>{{ program.text }}</p>
    {{/each}}
    {{ render '@halfboxes' }}
    {{ render '@staff' }}
    {{ render '@updated' }}
  </main>
  <aside>
    {{ render '@news' }}
    {{ render '@sidebarbox--2' }}
    {{ render '@sidebarbox--2' }}
    {{ render '@sidebarbox--1' }}
  </aside>
  {{ render '@footer' }}
</div>
