<div class="c-layout--3">
  <div class="c-layout__header">
    {{ render '@header' }}
  </div>
  <div class="c-layout__breadcrumb">
    {{ render '@breadcrumb' }}
  </div>
  <aside class="c-layout__sidebar1">
    {{ render '@secondarynav' }}
  </aside>
  <main class="c-layout__main">
    {{> @heading--1 }}
    {{#each paragraph}}
      <p>{{ program.text }}</p>
    {{/each}}
    {{ render '@mainbox--1' }}
    {{ render '@mainbox--2' }}
    {{ render '@mainbox--2' }}
    {{#each paragraph}}
      <p>{{ program.text }}</p>
    {{/each}}
    {{ render '@halfboxes' }}
    {{ render '@staff' }}
  </main>
  <aside class="c-layout__sidebar2">
    {{ render '@news' }}
    {{ render '@sidebarbox--2' }}
    {{ render '@sidebarbox--2' }}
    {{ render '@sidebarbox--1' }}
  </aside>
  <div class="c-layout__updated">
    {{ render '@updated' }}
  </div>
  <div class="c-layout__footer">
    {{ render '@footer' }}
  </div>
</div>
