<div class="c-layout2col">
  {{ render '@header' }}
  {{ render '@breadcrumb' }}
  <aside>
    {{ render '@refine' }}
  </aside>
  <main>
    {{ render '@filter' }}
    {{ render '@records' }}
    {{ render '@result' }}
    {{ render '@pagination' }}
  </main>
  {{ render '@footer' }}
</div>
