<div class="c-layout--1">
  <div class="c-layout__header">
    {{ render '@header' }}
  </div>
  <div class="c-layout__breadcrumb">
    {{ render '@breadcrumb' }}
  </div>
  <main class="c-layout__main">
    {{ render '@filter' }}
    {{ render '@records' }}
    {{ render '@result' }}
    {{ render '@pagination' }}
  </main>
  <div class="c-layout__footer">
    {{ render '@footer' }}
  </div>
</div>
