{{ render '@header' }}
<div class="c-layout2col">
  <aside>
    {{ render '@refine' }}
  </aside>
  <main>
    {{ render '@breadcrumb' }}
    {{ render '@filter' }}
    {{ render '@result' }}
  </main>
</div>
{{ render '@footer' }}
