<div class="c-layout1col">
  <header>
    {{ render '@header' }}
  </header>
  <nav>
    {{ render '@breadcrumb' }}
  </nav>
  <main>
    {{ render '@filter' }}
    {{ render '@records' }}
    {{ render '@result' }}
    {{ render '@pagination' }}
  </main>
  <footer>
    {{ render '@footer' }}
  </footer>
</div>
